---
permalink: /
title: "TRICD dataset"
excerpt: "Testing robust image understanding through contextual phrase detection"
header:
   overlay_color: "#333"
layout: splash
feature_row:
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Grounded open-vocabulary detection"
    excerpt: "We propose a novel task of contextual phrase detection, which subsumes visual grounding and open-vocabulary detection"
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    title: "Manually curated"
    excerpt: "We manually curated a high-quality dataset of more than 2.6k examples."
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    title: "Hard negatives"
    excerpt: "The examples are crafted to be hard for existing methods."
---

<div class="feature__wrapper" style="text-align: center;">

    <div class="feature__item">
        <div class="archive__item">
            <div class="archive__item-teaser">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color: #0092ca;"></i>
                    <i class="fa fa-meteor fa-stack-1x fa-inverse"></i>
                </span>
            </div>

            <div class="archive__item-body">
                <h2 class="archive__item-title">New task</h2>

                <div class="archive__item-excerpt">
                    Subsumes visual grounding and open-vocabulary detection
                </div>

            </div>
        </div>
    </div>
    <div class="feature__item">
        <div class="archive__item">
            <div class="archive__item-teaser">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color: #0092ca;"></i>
                    <i class="fa fa-wand-magic-sparkles fa-stack-1x fa-inverse"></i>
                </span>
            </div>

            <div class="archive__item-body">
                <h2 class="archive__item-title">Manually curated</h2>

                <div class="archive__item-excerpt">
                    Manually curated high-quality-dataset of more than 2.6k examples.
                </div>

            </div>
        </div>
    </div>
    <div class="feature__item">
        <div class="archive__item">
            <div class="archive__item-teaser">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color: #0092ca;"></i>
                    <i class="fa fa-award fa-stack-1x fa-inverse"></i>
                </span>
            </div>

            <div class="archive__item-body">
                <h2 class="archive__item-title">Hard negatives</h2>

                <div class="archive__item-excerpt">
                    Examples crafted to be hard for existing methods.
                </div>

            </div>
        </div>
    </div>

</div>
{% include figure image_path="/assets/images/teaser1.png" alt="teaser image" %}
<p> Current state of the art visual question answering (VQA) systems  display impressive performance on popular benchmarks, however often fail when evaluated on challenging images such as those shown above. We propose a novel task titled 'Contextual Phrase Detection' which evaluates models' fine-grained vision and language understanding capabilities along with a human-labelled dataset (TRICD) that enables evaluation on this novel task. In addition to assessing whether the objects are visible in the scene, models are required to produce bounding boxes to localize them.</p>

{% include figure image_path="/assets/images/example1.jpeg" alt="CPD example" %}
{% include figure image_path="/assets/images/example1_neg.jpeg" alt="CPD example" %}
{% include figure image_path="/assets/images/example2.jpeg" alt="CPD example" %}
{% include figure image_path="/assets/images/texample2_neg.jpeg" alt="CPD example" %}

<h1 style="text-align: center;">People</h1>
<div class="feature__wrapper" style="text-align: center;">

    <div class="feature__item" style="width:18.5%; clear:none; font-size:22px">
        <div class="archive__item">
            <div class="archive__item-teaser">
                <img src="{{site.baseurl}}/assets/images/aishwarya.jpg" style="margin: 0 auto;border: 7px solid #eeeeee;border-radius: 50%;">
            </div>

            <div class="archive__item-body">
                <h3 class="archive__item-title">Aishwarya Kamath</h3>

                <div class="archive__item-excerpt">
                    New-York University
                </div>

            </div>
        </div>
    </div>
    <div class="feature__item" style="width:18.5%; clear:none; font-size:22px">
        <div class="archive__item">
            <div class="archive__item-teaser">
                <img src="{{site.baseurl}}/assets/images/sara.jpg" style="margin: 0 auto;border: 7px solid #eeeeee;border-radius: 50%;">
            </div>

            <div class="archive__item-body">
                <h3 class="archive__item-title">Sara Price</h3>

                <div class="archive__item-excerpt">
                    New-York University
                </div>

            </div>
        </div>
    </div>
    <div class="feature__item" style="width:18.5%; clear:none; font-size:22px">
        <div class="archive__item">
            <div class="archive__item-teaser">
                <img src="{{site.baseurl}}/assets/images/jonas.jpg" style="margin: 0 auto;border: 7px solid #eeeeee;border-radius: 50%;">
            </div>

            <div class="archive__item-body">
                <h3 class="archive__item-title">Jonas Pfeiffer</h3>

                <div class="archive__item-excerpt">
                    New-York University
                </div>

            </div>
        </div>
    </div>
    <div class="feature__item" style="width:18.5%; clear:none; font-size:22px">
        <div class="archive__item">
            <div class="archive__item-teaser">
                <img src="{{site.baseurl}}/assets/images/yann.jpg" style="margin: 0 auto;border: 7px solid #eeeeee;border-radius: 50%;">
            </div>

            <div class="archive__item-body">
                <h3 class="archive__item-title">Yann LeCun</h3>

                <div class="archive__item-excerpt">
                    New-York University
                </div>

            </div>
        </div>
    </div>
    <div class="feature__item" style="width:18.5%; clear:none; font-size:22px">
        <div class="archive__item">
            <div class="archive__item-teaser">
                <img src="{{site.baseurl}}/assets/images/nicolas.jpg" style="margin: 0 auto;border: 7px solid #eeeeee;border-radius: 50%;">
            </div>

            <div class="archive__item-body">
                <h3 class="archive__item-title">Nicolas Carion</h3>

                <div class="archive__item-excerpt">
                    New-York University
                </div>

            </div>
        </div>
    </div>
</div>

